.input {
  display: block;
  width: 100%;
  padding: 0 16px;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 200;
  color: $primary-black;
  height: 40px;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid $primary-gray;
  border-radius: 4px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  &:hover {
    border: 1px solid $primary-orange;
  }
  &:active {
    border: 1px solid $primary-orange;
  }
}