.link {
  padding: 8px 16px;
  line-height: 30px;
  border-radius: 4px;
  font-weight: 700;

  &--active {
    color: #fff;
    background-image: linear-gradient(-198deg, #FC6076 0%, #FF9944 100%);
  }

  &:hover {
    background-image: linear-gradient(-198deg, #FC6076 0%, #FF9944 100%);
    color: #fff;
  }

  &:focus {
    color: #ffffff;
  }

  &--profile{
  
    &:hover {
      background-image: none;
      color: $primary-black;
    }

    &:focus {
      color: $primary-black;
    }

  }
}