$primary-gradient: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%); // background-image
$primary-black: #3d3d3d;
$primary-orange: #ff9a44;
$primary-pink: #fc6076;
$primary-gray: #ced4dA;

body {
  font-size: 16px;
  color: #343A40;
  background-color: #f1f1f1;
}

a {
  color: #434343;
}

a:focus, a:hover {
  text-decoration: none;
}
