.button {
  font-family: Roboto;
  display: inline-block;
  font-weight: 700;
  color: #fff;
  background-color: $primary-pink;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0 20px;
  font-size: 16px;
  height: 32px;
  border-radius: 4px;
  // transition: all 0.2s ease-in-out;
  &--auth-change {
    background-color: #fff;
    color: $primary-black;
    font-weight: 200;
    padding: 0;
  }
}
