.top-panel {
  min-width: 960px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.20), 0 1px 3px 0 rgba(0, 0, 0, 0.10);

  &_content {
    display: flex;
    align-items: center;
    height: 60px;
  }

  &_nav {
    display: flex;
    width: 33.333333%;
  }

  &_logo {
    font-family: KaushanScript-Regular;
    font-size: 36px;
    color: $primary-black;
    margin-left: auto;
    margin-right: auto;
    // margin-top: 0.5rem;
  }

  &_profile {
    display: flex;
    width: 33.333333%;
    justify-content: flex-end
  }
}

.nav-link {
  display: block;
  padding: 4px 16px;
  border-radius: 4px;
  color: $primary-black;

  &--active {
    color: #fff;
    background-color: #fff;
    background-image: linear-gradient(-198deg, #fc6076 0%, #ff9944 100%);

    &:focus {
      color: #fff;
    }
  }

  &:hover {
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(-198deg, #fc6076 0%, #ff9944 100%);
  }

  &:focus{
    text-decoration: none;
  }

}

.link {
  color: $primary-black;
  // padding: 4px 16px;

  &:hover, &:focus {
    text-decoration: none;
    // color: #226fcb;
  }

  &--black {
    
    &:hover, &:focus {
      text-decoration: none;
      color: $primary-black;
    }
  }

  &--profile {
    padding: 4px 16px;
  }
}

.button {
  font-family: Roboto;
  display: inline-block;
  font-weight: 400;
  color: #fff;
  background-color: $primary-pink;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0 20px;
  font-size: 16px;
  height: 32px;
  border-radius: 4px;
  // transition: all 0.2s ease-in-out;
  &--auth-change {
    background-color: #fff;
    color: $primary-black;
    font-weight: 200;
    line-height: 32px;
    padding: 0;
  }
}

.card {
  height: 240px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.20), 0 1px 3px 0 rgba(0, 0, 0, 0.10);

  &:hover {
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.26), 0 10px 20px 0 rgba(0,0,0,0.19);
    transition: box-shadow 0.4s ease-in-out;
  }

  &_image {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 8px;
  }

  &_body {
    margin-left: 16px;
    margin-right: 16px;
  }

  &_title {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    color: #26211b;
    margin-bottom: 4px;
  }

  &_description {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 200;
    color: #4e4e4e;
  }
}

.auth-form {
  padding: 32px;
  background-color: white;
  &_head {
    font-family: Roboto;
    font-weight: 700;
    font-size: 24px;
    color: $primary-black;
    text-align: center;
  }
  &_label {
    font-family: Roboto;
    font-weight: 200;
    font-size: 16px;
    color: $primary-black;
  }
}

.input {
  display: block;
  width: 100%;
  padding: 0 16px;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 200;
  color: $primary-black;
  height: 40px;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid $primary-gray;
  border-radius: 4px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

  &:hover {
    border: 1px solid $primary-orange;
  }

  &:active {
    border: 1px solid $primary-orange;
  }
}



.panel {
  background-color: #fff;
  border-radius: 4px;
  overflow: auto;
}

.course-img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  object-fit: cover;
}

.hr {
  border: 0;
  border-bottom: 1px solid $light-gray;
}

.circle {
  display: inline-flex;
  height: 12px;
  width: 12px;
  border: 1px solid $primary-black;
  border-radius: 50%;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #464a4c;
  background-color: #fff;
  border-color: #5cb3fd;
  outline: none;
}

.form-control::-webkit-input-placeholder {
  color: #636c72;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #636c72;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #636c72;
  opacity: 1;
}

.form-control::placeholder {
  color: #636c72;
  opacity: 1;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #eceeef;
  opacity: 1;
}

.form-control:disabled {
  cursor: not-allowed;
}

.alert {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}

.list-item {
  cursor: pointer;

  &:hover .circle {
    background-color: #ffd20a;
  }

  &:hover .hr {
    border-color: #ffd20a;
  }
}