.push-top-10 {
  margin-top: 10px;
}

.push-top-40 {
  margin-top: 40px;
}

.push-left {
  margin-left: auto;
}

.push-left-10 {
  margin-left: 10px;
}

.push-left-20 {
  margin-left: 20px;
}

.push-left-50 {
  margin-left: 50px;
}

.push-right {
  margin-right: auto;
}

.push-right-10 {
  margin-right: 10px;
}

.push-bottom-30 {
  margin-bottom: 30px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.ml-4 {
  margin-left: 4px;
}

.mr-20 {
  margin-right: 20px;
}

.mx-32 {
  margin-left: 32px;
  margin-right: 32px;
}

.ml-32 {
  margin-left: 32px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-8 {
  margin-top: 8px;
}

.mb-0 {
  margin-bottom: 0px;
}

