.h-60 {
  height: 60px;
}

.height-40 {
  height: 40px;
}

.height-60 {
  height: 60px;
}

.h-600 {
  height: 600px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
  font-weight: 700;
}