/* Shadows */

.shadow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.20), 0 1px 3px 0 rgba(0, 0, 0, 0.10);
}


/* Flex */

.flex {
  display: flex;
}

.flex--vcenter {
  align-items: center;
}


/* Pushes */

.push-top-10 {
  margin-top: 10px;
}

.push-top-40 {
  margin-top: 40px;
}

.push-left {
  margin-left: auto;
}

.push-left-10 {
  margin-left: 10px;
}

.push-left-20 {
  margin-left: 20px;
}

.push-left-50 {
  margin-left: 50px;
}

.push-right-10 {
  margin-right: 10px;
}

.push-bottom-30 {
  margin-bottom: 30px;
}


/* Heights */

.height-40 {
  height: 40px;
}

.height-60 {
  height: 60px;
}
