.block {

}

.authentication {
  width: 30%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.form {
  // background-color: white;
  padding: 10px;
}

.input {
  display: block;
  width: 100%;
  margin-bottom: .5em;
}
